@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.css");

* {
  box-sizing: border-box;
  font-family: 'Poppins';
}

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* End of reset */

body {
  background-color: #e9f8ff;
}

#stat-display {
  display: flex;
  font-weight: 510;
  font-size: 1.6rem;
  justify-content: space-around;
}

#mark-display {
  display: flex;
  font-weight: 510;
  font-size: 1.2rem;
  gap: 20px;
  justify-content: center;
}

.x-mark-display {
  color: #00aeff;
}

.o-mark-display {
  color: #ff0000;
}
