@import url("https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.css");

* {
  box-sizing: border-box;
  font-family: 'Poppins';
}

:root {
  line-height: 1.5;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* End of reset */

body {
  background-color: #e9f8ff;
  height: 100vh;
  padding: 1%;
  display: grid;
  grid-template: 1fr 0.5fr 4fr 0.5fr 1fr / 1fr;
}


#stat-display {
  display: flex;
  justify-content: center;
  grid-area: 1 / 1 / 2 / 2;
  font-weight: 510;
  font-size: 1.6rem;
  justify-content: space-around;
}

#mark-display {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 1 / 3 / 2;
  font-weight: 510;
  font-size: 1.2rem;
  gap: 37%;
}

.x-mark-display {
  color: #00aeff;
}

.o-mark-display {
  color: #ff0000;
}

#board-container {
  width: fit-content;
  height: fit-content;
  display: grid;
  grid-template: 1fr 1fr 1fr / 30% 30% 30%;
  grid-area: 3 / 1 / 4 / 2;
  background-color: white;
  margin: 1.3% 0 1.3% 0;
  padding: 3% 15% 3% 15%;
  justify-self: center;
  align-self: center;
  border-radius: 70px;
  border: 10px solid black;
}

.board-piece {
  font-size: 5rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  width: 8rem;
  cursor: pointer;
}

/* 16739e */
#center-board-piece {
  border: 20px solid #16739e;
}

#left-outside-board-piece,
#right-outside-board-piece {
  border: solid #16739e;
  border-width: 20px 0 20px 0;
}

#top-board-piece,
#bottom-board-piece {
  border: solid #16739e;
  border-width: 0 20px 0 20px;
}

.x-board-piece {
  color: #00aeff;
}

.o-board-piece {
  color: #ff0000;
}

#you-win-display {
  font-size: 1.5rem;
  font-weight: 550;
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  grid-area: 4 / 1 / 5 / 2  ;
  gap: 20px;
  height: 3vh;
}

#play-again-button,
#switch-mark-button {
  background-color: #00ff06;
  border: 2px solid black;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 5px;
  padding: 0.2% 1% 0.2% 1%;
  cursor: pointer;
}

footer {
  grid-area: 5 / 1 / 6 / 2;
  margin-top: auto;
}

#footer-text {
  font-weight: 550;
  text-align: center;
}

#footer-anchor {
  font-family: 'Space Mono';
}

#name-wrapper {
  font-family: 'Space Mono';
}

#footer-anchor:hover > #name-wrapper {
  font-style: italic;
}